@import '../utils/variables.scss';


@mixin footer_style{
    //color: $text-color;
    bottom: 0;
    //position:absolute;
    width: 100%;
    //font-family: $font-family;
}

.footer{
    background-color: $background-color;
    @include footer_style();
}