//Crar aki comoponentes nuevos e importar en styles.scss
@import '../utils/variables.scss';

.main {
    //background-color: $background-color;
    background-color: black;
    margin: 0px;
    min-height: 100%;
}
body {
    background-color: $background-color;
    min-height: 100%;
    height: 100%;
    position: relative;
}


/*
@mixin footer_style{
    color: $text-color;
    bottom: 0;
    position:absolute;
    width: 100%;
}

.footer{
    background-color: $menu-color;
    @include footer_style();
}
.footer-dark{
    background-color: $menu-color-dark;
    @include footer_style();
}*/
